<template>
  <div>
    <div>测试代码12</div>
    <div style="width: 300px;display: flex; justify-content: space-between">
      <router-link to="/a">Go to A</router-link>
      <router-link to="/b">Go to B</router-link>
      <router-link to="/c">Go to C</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>
